.nav {
    background-color: #6699FF;
    display: grid;
    grid-template-columns: 1fr 0.2fr 0.2fr;
    height: 100px;
    a {
        padding: 10px;
        color: whitesmoke;
        text-decoration: none;
        letter-spacing: 2px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    a:hover {
        text-decoration: underline;
    }
    img {
        width: 200px;
        height: 100px;
    }
}
