.footer {
    background-color: #6699FF;
    height: 100px;
    margin-top: 20%;
    span {
        display: block;
        text-align: center;
        padding: 10px;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        letter-spacing: 2px;
        font-size: 50px;
        color: lavender;
    }
}